<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Manager.Properties.Settings.OraclePromaConnectionString" connectionString="Data Source=proma;Persist Security Info=True;User ID=proma;Password=deny01.;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
