<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HappyYF.YuanXin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HappyYF.YuanXin.Properties.Settings.HappyYFConnectionString" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.HappyYF_YXConnectionString" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.HappyYHConnectionString" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Max Pool Size=150;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.HappyYF_XDConnectionString" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.HappyYf_HSConnectionString" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.happyyf_lyConnectionString" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456." providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.happyyf_lyConnectionString1" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.happyyf_lyConnectionString2" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.happyyf_lyConnectionString3" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="HappyYF.YuanXin.Properties.Settings.happyyf_lyConnectionString4" connectionString="Data Source=192.168.1.9,3059;Initial Catalog=happyyf_ly;Persist Security Info=True;User ID=sa;Password=jm123456.;Connect Timeout=0" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <HappyYF.YuanXin.Properties.Settings>
            <setting name="myEdit" serializeAs="String">
                <value>EditOnEnter</value>
            </setting>
        </HappyYF.YuanXin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
